@charset "UTF-8";


#baseContents .mainContents {
	margin-bottom: 150px;
	margin-top: 85px;
}

#baseContents h3 {
        margin-top: 60px;
	text-align: center;
}


#baseContents img{
        width: 10px;
}


#baseContents .linkContents{
        text-decoration: underline;
}

#baseContents .mainContents .mainContentsInner {
	text-align: center;
}




/*
#basecontents .description dl {
	margin: 0px auto;
	text-align: center;
}
*/

#baseContents ul li:hover {
	cursor: pointer;
}

#baseContents .description dl:nth-child(n+2) {
	margin-left: 90px;
}


#baseContents .map a path,
#baseContents .map a rect,
#baseContents .map a use {
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-ms-transition: all 0.6s;
	-o-transition: all 0.6s;
	transition: all 0.6s;
}

#baseContents .map a:hover path,
#baseContents .map a:hover rect,
#baseContents .map a:hover use {
	fill: #f5a623;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

#baseContents .map a:active path,
#baseContents .map a:active rect,
#baseContents .map a:active use {
	fill: #ee6557;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}


#baseContents .mainContents .mainContentsInner input {
	display: none;
}

#baseContents .mainContentsInner input ~ svg a path,
#baseContents .mainContentsInner input ~ svg a rect,
#baseContents .mainContentsInner input ~ svg a use {
	fill: #16A6B6;
}

#baseContents .mainContentsInner #hover01:checked ~ #A-2F .map .mapA206A207 rect,
#baseContents .mainContentsInner #hover02:checked ~ #A-2F .map .mapA209 rect,
#baseContents .mainContentsInner #hover03:checked ~ #A-2F .map .mapA210 rect,
#baseContents .mainContentsInner #hover04:checked ~ #A-2F .map .mapA259A260 rect,
#baseContents .mainContentsInner #hover05:checked ~ #A-3F .map .mapA301A302 use,
#baseContents .mainContentsInner #hover06:checked ~ #A-3F .map .mapA303A304 path,
#baseContents .mainContentsInner #hover07:checked ~ #A-3F .map .mapA305 rect,
#baseContents .mainContentsInner #hover08:checked ~ #A-3F .map .mapA306 rect,
#baseContents .mainContentsInner #hover09:checked ~ #A-3F .map .mapA307 rect,
#baseContents .mainContentsInner #hover10:checked ~ #A-3F .map .mapA308 rect,
#baseContents .mainContentsInner #hover11:checked ~ #A-3F .map .mapA309 rect,
#baseContents .mainContentsInner #hover12:checked ~ #A-3F .map .mapA310A311 rect,
#baseContents .mainContentsInner #hover13:checked ~ #A-3F .map .mapA312 path,
#baseContents .mainContentsInner #hover14:checked ~ #A-3F .map .mapA313 path,
#baseContents .mainContentsInner #hover15:checked ~ #A-3F .map .mapA314 rect,
#baseContents .mainContentsInner #hover16:checked ~ #A-3F .map .mapA315 rect,
#baseContents .mainContentsInner #hover17:checked ~ #A-3F .map .mapA354 rect,
#baseContents .mainContentsInner #hover18:checked ~ #A-3F .map .mapA355 rect,
#baseContents .mainContentsInner #hover19:checked ~ #A-3F .map .mapA356 rect,
#baseContents .mainContentsInner #hover20:checked ~ #A-3F .map .mapA357 rect,
#baseContents .mainContentsInner #hover21:checked ~ #A-3F .map .mapA358 rect,
#baseContents .mainContentsInner #hover22:checked ~ #A-3F .map .mapA359 rect,
#baseContents .mainContentsInner #hover23:checked ~ #A-3F .map .mapA360 rect,
#baseContents .mainContentsInner #hover24:checked ~ #A-3F .map .mapA361 rect,
#baseContents .mainContentsInner #hover25:checked ~ #A-4F .map .mapA414 path,
#baseContents .mainContentsInner #hover26:checked ~ #A-4F .map .mapA415 path,
#baseContents .mainContentsInner #hover27:checked ~ #A-4F .map .mapA416 path,
#baseContents .mainContentsInner #hover28:checked ~ #A-4F .map .mapA417 path,
#baseContents .mainContentsInner #hover29:checked ~ #A-4F .map .mapA418 path,
#baseContents .mainContentsInner #hover30:checked ~ #A-4F .map .mapA419 path,
#baseContents .mainContentsInner #hover31:checked ~ #A-4F .map .mapA420 path,
#baseContents .mainContentsInner #hover32:checked ~ #A-4F .map .mapA421 path,
#baseContents .mainContentsInner #hover33:checked ~ #A-4F .map .mapA422 path,
#baseContents .mainContentsInner #hover34:checked ~ #A-4F .map .mapA465 path,
#baseContents .mainContentsInner #hover35:checked ~ #A-4F .map .mapA466 path,
#baseContents .mainContentsInner #hover36:checked ~ #A-4F .map .mapA467 path,
#baseContents .mainContentsInner #hover37:checked ~ #A-4F .map .mapA468 path,
#baseContents .mainContentsInner #hover38:checked ~ #A-4F .map .mapA469 path,
#baseContents .mainContentsInner #hover39:checked ~ #A-4F .map .mapA470 path,
#baseContents .mainContentsInner #hover40:checked ~ #A-4F .map .mapA471 path,
#baseContents .mainContentsInner #hover41:checked ~ #A-4F .map .mapA472 path{
	fill: #f5a623;
}

#baseContents .mainContentsInner #map01:checked ~ #A-2F .map .mapA206A207 rect,
#baseContents .mainContentsInner #map02:checked ~ #A-2F .map .mapA209 rect,
#baseContents .mainContentsInner #map03:checked ~ #A-2F .map .mapA210 rect,
#baseContents .mainContentsInner #map04:checked ~ #A-2F .map .mapA259A260 rect,
#baseContents .mainContentsInner #map05:checked ~ #A-3F .map .mapA301A302 use,
#baseContents .mainContentsInner #map06:checked ~ #A-3F .map .mapA303A304 path,
#baseContents .mainContentsInner #map07:checked ~ #A-3F .map .mapA305 rect,
#baseContents .mainContentsInner #map08:checked ~ #A-3F .map .mapA306 rect,
#baseContents .mainContentsInner #map09:checked ~ #A-3F .map .mapA307 rect,
#baseContents .mainContentsInner #map10:checked ~ #A-3F .map .mapA308 rect,
#baseContents .mainContentsInner #map11:checked ~ #A-3F .map .mapA309 rect,
#baseContents .mainContentsInner #map12:checked ~ #A-3F .map .mapA310A311 rect,
#baseContents .mainContentsInner #map13:checked ~ #A-3F .map .mapA312 path,
#baseContents .mainContentsInner #map14:checked ~ #A-3F .map .mapA313 path,
#baseContents .mainContentsInner #map15:checked ~ #A-3F .map .mapA314 rect,
#baseContents .mainContentsInner #map16:checked ~ #A-3F .map .mapA315 rect,
#baseContents .mainContentsInner #map17:checked ~ #A-3F .map .mapA354 rect,
#baseContents .mainContentsInner #map18:checked ~ #A-3F .map .mapA355 rect,
#baseContents .mainContentsInner #map19:checked ~ #A-3F .map .mapA356 rect,
#baseContents .mainContentsInner #map20:checked ~ #A-3F .map .mapA357 rect,
#baseContents .mainContentsInner #map21:checked ~ #A-3F .map .mapA358 rect,
#baseContents .mainContentsInner #map22:checked ~ #A-3F .map .mapA359 rect,
#baseContents .mainContentsInner #map23:checked ~ #A-3F .map .mapA360 rect,
#baseContents .mainContentsInner #map24:checked ~ #A-3F .map .mapA361 rect,
#baseContents .mainContentsInner #map25:checked ~ #A-4F .map .mapA414 path,
#baseContents .mainContentsInner #map26:checked ~ #A-4F .map .mapA415 path,
#baseContents .mainContentsInner #map27:checked ~ #A-4F .map .mapA416 path,
#baseContents .mainContentsInner #map28:checked ~ #A-4F .map .mapA417 path,
#baseContents .mainContentsInner #map29:checked ~ #A-4F .map .mapA418 path,
#baseContents .mainContentsInner #map30:checked ~ #A-4F .map .mapA419 path,
#baseContents .mainContentsInner #map31:checked ~ #A-4F .map .mapA420 path,
#baseContents .mainContentsInner #map32:checked ~ #A-4F .map .mapA421 path,
#baseContents .mainContentsInner #map33:checked ~ #A-4F .map .mapA422 path,
#baseContents .mainContentsInner #map34:checked ~ #A-4F .map .mapA465 path,
#baseContents .mainContentsInner #map35:checked ~ #A-4F .map .mapA466 path,
#baseContents .mainContentsInner #map36:checked ~ #A-4F .map .mapA467 path,
#baseContents .mainContentsInner #map37:checked ~ #A-4F .map .mapA468 path,
#baseContents .mainContentsInner #map38:checked ~ #A-4F .map .mapA469 path,
#baseContents .mainContentsInner #map39:checked ~ #A-4F .map .mapA470 path,
#baseContents .mainContentsInner #map40:checked ~ #A-4F .map .mapA471 path,
#baseContents .mainContentsInner #map41:checked ~ #A-4F .map .mapA472 path{
	fill: #FF8787;
}

#baseContents .mainContentsInner .areaBox {
/*	margin-top: 10px; */
    text-align: left;
    width: 80%;
    margin: 0 auto;
}



#baseContents .mainContentsInner .areaBox .areaList {
  cursor: pointer;
  width: 45%;
  margin: 0 auto;
}


#baseContents .mainContentsInner .areaBox .areaList_L {
	float: left;
/*	margin-right: 100px; */
	width: 55%;
	margin: 0 auto;
}

baseContents .mainContentsInner .areaBox .areaList_R {
	float: right;
	width: 45%;
	magin: 0 auto;
	clear: both;
}



#baseContents .mainContentsInner #hover01:checked ~ #A-2F .list1,
#baseContents .mainContentsInner #hover02:checked ~ #A-2F .list2,
#baseContents .mainContentsInner #hover03:checked ~ #A-2F .list3,
#baseContents .mainContentsInner #hover04:checked ~ #A-2F .list4,
#baseContents .mainContentsInner #hover05:checked ~ #A-3F .list5,
#baseContents .mainContentsInner #hover06:checked ~ #A-3F .list6,
#baseContents .mainContentsInner #hover07:checked ~ #A-3F .list7,
#baseContents .mainContentsInner #hover08:checked ~ #A-3F .list8,
#baseContents .mainContentsInner #hover09:checked ~ #A-3F .list9,
#baseContents .mainContentsInner #hover10:checked ~ #A-3F .list10,
#baseContents .mainContentsInner #hover11:checked ~ #A-3F .list11,
#baseContents .mainContentsInner #hover12:checked ~ #A-3F .list12,
#baseContents .mainContentsInner #hover13:checked ~ #A-3F .list13,
#baseContents .mainContentsInner #hover14:checked ~ #A-3F .list14,
#baseContents .mainContentsInner #hover15:checked ~ #A-3F .list15,
#baseContents .mainContentsInner #hover16:checked ~ #A-3F .list16,
#baseContents .mainContentsInner #hover17:checked ~ #A-3F .list17,
#baseContents .mainContentsInner #hover18:checked ~ #A-3F .list18,
#baseContents .mainContentsInner #hover19:checked ~ #A-3F .list19,
#baseContents .mainContentsInner #hover20:checked ~ #A-3F .list20,
#baseContents .mainContentsInner #hover21:checked ~ #A-3F .list21,
#baseContents .mainContentsInner #hover22:checked ~ #A-3F .list22,
#baseContents .mainContentsInner #hover23:checked ~ #A-3F .list23,
#baseContents .mainContentsInner #hover24:checked ~ #A-3F .list24,
#baseContents .mainContentsInner #hover25:checked ~ #A-4F .list25,
#baseContents .mainContentsInner #hover26:checked ~ #A-4F .list26,
#baseContents .mainContentsInner #hover27:checked ~ #A-4F .list27,
#baseContents .mainContentsInner #hover28:checked ~ #A-4F .list28,
#baseContents .mainContentsInner #hover29:checked ~ #A-4F .list29,
#baseContents .mainContentsInner #hover30:checked ~ #A-4F .list30,
#baseContents .mainContentsInner #hover31:checked ~ #A-4F .list31,
#baseContents .mainContentsInner #hover32:checked ~ #A-4F .list32,
#baseContents .mainContentsInner #hover33:checked ~ #A-4F .list33,
#baseContents .mainContentsInner #hover34:checked ~ #A-4F .list34,
#baseContents .mainContentsInner #hover35:checked ~ #A-4F .list35,
#baseContents .mainContentsInner #hover36:checked ~ #A-4F .list36,
#baseContents .mainContentsInner #hover37:checked ~ #A-4F .list37,
#baseContents .mainContentsInner #hover38:checked ~ #A-4F .list38,
#baseContents .mainContentsInner #hover39:checked ~ #A-4F .list39,
#baseContents .mainContentsInner #hover40:checked ~ #A-4F .list40,
#baseContents .mainContentsInner #hover41:checked ~ #A-4F .list41
{
	color: #f5a623;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

#baseContents .mainContentsInner #map01:checked ~ #A-2F .list1,
#baseContents .mainContentsInner #map02:checked ~ #A-2F .list2,
#baseContents .mainContentsInner #map03:checked ~ #A-2F .list3,
#baseContents .mainContentsInner #map04:checked ~ #A-2F .list4,
#baseContents .mainContentsInner #map05:checked ~ #A-3F .list5,
#baseContents .mainContentsInner #map06:checked ~ #A-3F .list6,
#baseContents .mainContentsInner #map07:checked ~ #A-3F .list7,
#baseContents .mainContentsInner #map08:checked ~ #A-3F .list8,
#baseContents .mainContentsInner #map09:checked ~ #A-3F .list9,
#baseContents .mainContentsInner #map10:checked ~ #A-3F .list10,
#baseContents .mainContentsInner #map11:checked ~ #A-3F .list11,
#baseContents .mainContentsInner #map12:checked ~ #A-3F .list12,
#baseContents .mainContentsInner #map13:checked ~ #A-3F .list13,
#baseContents .mainContentsInner #map14:checked ~ #A-3F .list14,
#baseContents .mainContentsInner #map15:checked ~ #A-3F .list15,
#baseContents .mainContentsInner #map16:checked ~ #A-3F .list16,
#baseContents .mainContentsInner #map17:checked ~ #A-3F .list17,
#baseContents .mainContentsInner #map18:checked ~ #A-3F .list18,
#baseContents .mainContentsInner #map19:checked ~ #A-3F .list19,
#baseContents .mainContentsInner #map20:checked ~ #A-3F .list20,
#baseContents .mainContentsInner #map21:checked ~ #A-3F .list21,
#baseContents .mainContentsInner #map22:checked ~ #A-3F .list22,
#baseContents .mainContentsInner #map23:checked ~ #A-3F .list23,
#baseContents .mainContentsInner #map24:checked ~ #A-3F .list24,
#baseContents .mainContentsInner #map25:checked ~ #A-4F .list25,
#baseContents .mainContentsInner #map26:checked ~ #A-4F .list26,
#baseContents .mainContentsInner #map27:checked ~ #A-4F .list27,
#baseContents .mainContentsInner #map28:checked ~ #A-4F .list28,
#baseContents .mainContentsInner #map29:checked ~ #A-4F .list29,
#baseContents .mainContentsInner #map30:checked ~ #A-4F .list30,
#baseContents .mainContentsInner #map31:checked ~ #A-4F .list31,
#baseContents .mainContentsInner #map32:checked ~ #A-4F .list32,
#baseContents .mainContentsInner #map33:checked ~ #A-4F .list33,
#baseContents .mainContentsInner #map34:checked ~ #A-4F .list34,
#baseContents .mainContentsInner #map35:checked ~ #A-4F .list35,
#baseContents .mainContentsInner #map36:checked ~ #A-4F .list36,
#baseContents .mainContentsInner #map37:checked ~ #A-4F .list37,
#baseContents .mainContentsInner #map38:checked ~ #A-4F .list38,
#baseContents .mainContentsInner #map39:checked ~ #A-4F .list39,
#baseContents .mainContentsInner #map40:checked ~ #A-4F .list40,
#baseContents .mainContentsInner #map41:checked ~ #A-4F .list41
{
	color: #FF8787;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
/*
#baseContents .mainContentsInner .areaBox .areaInfo {
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	width: 90%;
}


#baseContents .mainContentsInner .areaInfo .areaTitle {
	color: #4a90e2;
	font-size: 250%;
	font-weight: bold;
}

#baseContents .mainContentsInner .areaInfo .border {
	border-bottom: #4a90e2 6px solid;
	display: inline-block;
	width: 50px;
}

#baseContents .mainContentsInner .areaInfo .description {
	display: table;
	margin: 15px auto 0px;
	overflow: hidden;
}
*/


#baseContents .mainContentsInner .areaBox .fadeOut {
	opacity: 0;
}

#baseContents .mainContentsInner .areaBox .fadeIn {
	opacity: 1;
	height: 200px;
}
