@charset "UTF-8";

/* main */
#baseContents .main {
  margin: 200px auto 30px;
  position: relative;
  width: 740px;
}

#baseContents .main > h3 {
  clear: both;
  padding-right: 10px;
  text-align: right;
}

#baseContents .main .yearMove {
  margin: 0px auto;
  width: 740px;
}

#baseContents .main .yearMove a {
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  -webkit-transition: .5s;
  font-weight: bold;
  transition: .5s;
}

#baseContents .main .yearMove a:hover {
  color: #3db6eb;
}

#baseContents .main .yearMove .right {
  float: right;
}

#baseContents h4 {
  font-size: 30px;
  margin-top: 50px;
  text-align: center;
}

/*リンク*/
#baseContents .pageLink {
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;    /* Safari,Google Chrome用 */
  border-radius: 15px;        /* CSS3草案 */
  border: solid 5px gray;
  font-size: 20px;
  height: 105px;
  margin-left: 85px;
  margin-top: 30px;
  width: 704px;
}

#baseContents .pageLink img {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;    /* Safari,Google Chrome用 */
  border-radius: 10px;       /* CSS3草案 */
  height: 105px;
  width: 705px;
}

/*タブのスタイル*/
.members2018Tabs{
  margin-top: 50px;
  padding-bottom: 40px;
}

.members2019TabItem {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  flex-flow: column;
  vertical-align: top;
    color:  #fff;               /* 文字色 */       /* 角丸指定 */
    width: 120px;
    height: 120px;                 /*幅指定 */
    background-color:  #99ccff;
    font-size: 13px;
    margin-left: 2%;
    margin-right: 5%;
}

.members2019TabItem a{
  color: #fff;
}


.members2019TabItem:hover{
  background: #3ab2e9;
}

input[name="tab_item"] {
  display: none;
}

.members2019TabsContents{
  display: none;
  padding: 40px 40px 0;
  clear: both;
  overflow: hidden;
  position:relative;
}

#Allmembers2019:checked ~ .members,
#members2019:checked ~ .CreatersPage,
#special2019:checked ~ .Special,
#oc2019:checked ~ .OC,
#KUTPoem2019:checked ~ .KUTPoem{
  display: block;
}

/*

/* 角丸 */
.Radius5 .menue{
    border-radius: 5px;        /* CSS3草案 */
    -webkit-border-radius: 5px;    /* Safari,Google Chrome用 */
    -moz-border-radius: 5px;   /* Firefox用 */
}
/* ボタン共通 */
.menueAllmember .menue{
    overflow: hidden;
    width: 300px;
    height: 100px;
    margin-top: 0px;
    margin-left: 100px;
    padding: 0px;
}
.menueAllmember .menue a {
    display: block;
    position: relative;
    z-index: 100;
    text-align:center;
    background: #99ccff;
    color: #fff;
    font-size: 18px;
    line-height: 50px;
    text-decoration:none;
}
.menueAllmember .menue a:hover {
    background: #3ab2e9;        /* マウスオーバーカラー */
}


.menueCreater .menue {
    overflow: hidden;
    width: 300px;
    height: 100px;
    margin-top: -45px;
    margin-left: 350px;
    padding: 0px;
}
.menueCreater .menue a {
    display: block;
    position: relative;
    z-index: 100;
    text-align:center;
    background: #99ccff;
    color: #fff;
    font-size: 18px;
    line-height: 50px;
    text-decoration:none;
}
.menueCreater .menue a:hover {
    background: #3ab2e9;        /* マウスオーバーカラー */
}




.menueOC .menue {
    overflow: hidden;
    width: 300px;
    height: 100px;
    margin-top: -45px;
    margin-left: 100px;
    padding: 0px;
}
.menueOC .menue a {
    display: block;
    position: relative;
    z-index: 100;
    text-align:center;
    background: #99ccff;
    color: #fff;
    font-size: 18px;
    line-height: 50px;
    text-decoration:none;
}
.menueOC .menue a:hover {
    background: #3ab2e9;        /* マウスオーバーカラー */
}


.menueSpecial .menue {
    overflow: hidden;
    width: 300px;
    height: 100px;
    margin-top: -45px;
    margin-left: 350px;
    padding: 0px;
}
.menueSpecial .menue a {
    display: block;
    position: relative;
    z-index: 100;
    text-align:center;
    background: #99ccff;
    color: #fff;
    font-size: 18px;
    line-height: 50px;
    text-decoration:none;
}
.menueSpecial .menue a:hover {
    background: #3ab2e9;        /* マウスオーバーカラー */
}


.menuePoem .menue {
    overflow: hidden;
    width: 300px;
    height: 100px;
    margin-top: -45px;
    margin-left: 100px;
    padding: 0px;
}
.menuePoem .menue a {
    display: block;
    position: relative;
    z-index: 100;
    text-align:center;
    background: #99ccff;
    color: #fff;
    font-size: 18px;
    line-height: 50px;
    text-decoration:none;
}
.menuePoem .menue a:hover {
    background: #3ab2e9;        /* マウスオーバーカラー */
}

/*製作者*/
#baseContents .creater {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;    /* Safari,Google Chrome用 */
  background-color: gray;
  border-radius: 10px;        /* CSS3草案 */
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  width: 750px;
}

#baseContents .creater .photo {
  background-color: gray;
  border-radius: 100%;
  border: solid 3px #FFF;
  float:left;
  height: 240px;
  margin-left: 50px;
  margin-top: 30px;
  width: 240px;
}

#baseContents .creater .photo img {
  border-radius: 100%;
  height: 240px;
  width: 240px;
}

#baseContents .creater dl {
  margin-left: 350px;
  padding-top: 25px;
  width: 360px;
}

#baseContents .creater dt {
  font-size: 18px;
  margin-top: 20px;
}

#baseContents .three_creater {
  background-color: #b5e685;
}

#baseContents .two_creater {
  background-color: #71cdf1;
}

#baseContents .one_creater {
  background-color: #FFB751;
}




#IconList3 a:before {        /*白い丸 */
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 19px;
    width: 16px;
    height: 16px;
    margin-top: -8px;
    border-radius: 50%;        /* CSS3草案 */
    -webkit-border-radius: 50%;    /* Safari,Google Chrome用 */
    -moz-border-radius: 50%;   /* Firefox用 */
    background: #fff;
}
#IconList3 a:after {        /*「after要素」で三角 */
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 25px;
    width: 0;
    height: 0;
    margin-top: -5px;
    border: 5px solid transparent;        /*top right bottom を透明化 */
    border-left: 5px solid #99ccff;
}
#IconList3 a:hover:after {        /*「after要素」のマウスオーバー（カラーを合わせる） */
    border-left: 5px solid #3ab2e9;
}



#baseContents .members {
  margin: 50px auto 30px;
  position: relative;
  width: 650px;
  height: inherit;
}

#baseContents .members .box{
  width: inherit;
}

#baseContents .members .square{
  color: #fff;
  font-size: 30px;
  margin-right: 10%;
  margin-bottom: 1%;
  width: 100%;
  height: 50px;
  text-align: center;
}

#baseContents .members h3{
  text-align: left;
  margin-top: 50px;
}


#baseContents .members .four{
  margin-top: 2px;
  background-color: #b5e685;
  border-color: #b5e685;
}

#baseContents .members .three{
  background-color: #71cdf1;
  border-color: #71cdf1;
}

#baseContents .members .two{
  background-color: #ffb751;
  border-color: #ffb751;
}

#baseContents .members .second-none-background{
  background-color: #fee5cb;
  border-bottom: solid 0.7px #000;
  margin-bottom: 0.2px;
  width: 19%;
  height: 62px;
  cursor: pointer;
}

#baseContents p1{
  /*4th,3rd,2nd,etc*/
  position: relative;
  top: 20%;
  transform: translateY(-50%);
  letter-spacing: 3px;
}

#baseContents p2{
  /*year*/
  position: relative;
  top: 30%;
  margin-top: -10px;
  transform: translateY(-50%);
  letter-spacing: 3px;
}

#baseContents p3{
  /*Adviser*/
  position: relative;
  top: 35%;
  margin-top: -10px;
  transform: translateY(-50%);
  letter-spacing: 1px;
}


/*3rdYear*/
#baseContents .three .square{
  background-color: #71cdf1;
}

/*2ndYear*/
#baseContents .two .square{
  background-color: #ffb751;
}

#baseContents .one .square{
  background-color: #ffb751;
}


#baseContents .adviser .square{
  background-color: #cab3fe;
}



/*写真の大きさや位置*/
.third1{
  text-align:center;
  margin:0 auto;
}
.third{
  position: relative;
}
.third img {
  width: 15%;    /* 横幅を割合で指定 */
  height: auto;
  text-align:center;
  display:inline-block; /* 高さは自動指定 */
}

/*マウスオーバーエフェクト*/

.black{
  border: 0.5px solid #ddd;
  zoom:2.0;
  width :19%;
  height:auto;
  margin: 0 auto;
  overflow: hidden;
  background: #000;
  display:inline-block;
  position: relative;
}


.black img{
  width: 100%;
    cursor: pointer;
    transition-duration: 0.3s;
  }


 .black:hover  img{
  opacity: 0.6;
  transition-duration: 0.3s;
}

.black1{
  border: 0.5px solid #ddd;
  zoom:2.0;
  width :19%;
  height:auto;
  margin: 0 auto;
  overflow: hidden;
  background: #000;
  display:inline-block;
  position: relative;
}


.black1 img{
  width: 100%;
    cursor: pointer;
    transition-duration: 0.3s;
  }

/*4thYear名前*/
.Motoki  p{
  position: absolute;
  bottom: 0;/*画像の左上に配置*/
  right: 2px;
  margin: 0; /*余計な隙間を除く*/
  color: #fff;
  font-size: 8px;
  line-height: 1;/*行高は1に*/
  display: inline-block;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.Motoki:hover p {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  visibility:visible;
  color: #000;/*文字を白に*/
  display: inline;
}

.Kinari  p{
  position: absolute;
  bottom: 0;/*画像の左上に配置*/
  right: 2px;
  margin: 0; /*余計な隙間を除く*/
  color: #fff;
  font-size: 8px;
  line-height: 1;/*行高は1に*/
  display: inline-block;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.Kinari:hover p {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  visibility:visible;
  color: #000;/*文字を白に*/
  display: inline;
}


/*3rdYear名前*/
.Kondo  p{
  position: absolute;
  bottom: 0;/*画像の左上に配置*/
  left: 2px;
  margin: 0; /*余計な隙間を除く*/
  color: #fff;
  font-size: 8px;
  line-height: 1;/*行高は1に*/
  display: inline-block;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.Kondo:hover p {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  visibility:visible;
  color: #000;/*文字を白に*/
  display: inline;
}

.Kusaka  p{
  position: absolute;
  bottom: 0;/*画像の左上に配置*/
  left: 2px;
  margin: 0; /*余計な隙間を除く*/
  color: #fff;
  font-size: 8px;
  line-height: 1;/*行高は1に*/
  display: inline-block;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.Kusaka:hover p {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  visibility:visible;
  color: #000;/*文字を白に*/
  display: inline;
}

.Maiko  p{
  position: absolute;
  bottom: 0;/*画像の左上に配置*/
  left: 2px;
  margin: 0; /*余計な隙間を除く*/
  color: #fff;
  font-size: 8px;
  line-height: 1;/*行高は1に*/
  display: inline-block;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.Maiko:hover p {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  visibility:visible;
  color: #000;/*文字を白に*/
  display: inline;
}

.Nagamoto  p{
  position: absolute;
  bottom: 1.5px;/*画像の左上に配置*/
  left: 2px;
  margin: 0; /*余計な隙間を除く*/
  color: #fff;
  font-size: 8px;
  line-height: 1;/*行高は1に*/
  display: inline-block;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.Nagamoto:hover p {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  visibility:visible;
  color: #000;/*文字を白に*/
  display: inline;
}

.Mori  p{
  position: absolute;
  bottom: 0;/*画像の左上に配置*/
  left: 2px;
  margin: 0; /*余計な隙間を除く*/
  color: #fff;
  font-size: 8px;
  line-height: 1;/*行高は1に*/
  display: inline-block;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.Mori:hover p {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  visibility:visible;
  color: #000;/*文字を白に*/
  display: inline;
}


/*2ndYear名前*/
.Adachi  p{
  position: absolute;
  bottom: 0;/*画像の左上に配置*/
  right: 2px;
  margin: 0; /*余計な隙間を除く*/
  color: #fff;
  font-size: 8px;
  line-height: 1;/*行高は1に*/
  display: inline-block;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.Adachi:hover p {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  visibility:visible;
  color: #000;/*文字を白に*/
  display: inline;
}

.Miyamoto  p{
  position: absolute;
  bottom: 0;/*画像の左上に配置*/
  right: 2px;
  margin: 0; /*余計な隙間を除く*/
  color: #fff;
  font-size: 8px;
  line-height: 1;/*行高は1に*/
  display: inline-block;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.Miyamoto:hover p {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  visibility:visible;
  color: #000;/*文字を白に*/
  display: inline;
}

.Hokao  p{
  position: absolute;
  bottom: 0;/*画像の左上に配置*/
  right: 2px;
  margin: 0; /*余計な隙間を除く*/
  color: #fff;
  font-size: 8px;
  line-height: 1;/*行高は1に*/
  display: inline-block;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.Hokao:hover p {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  visibility:visible;
  color: #000;/*文字を白に*/
  display: inline;
}


/*1stYear名前*/
.Ayabe  p{
  position: absolute;
  bottom: 0;/*画像の左上に配置*/
  left: 2px;
  margin: 0; /*余計な隙間を除く*/
  color: #fff;
  font-size: 8px;
  line-height: 1;/*行高は1に*/
  display: inline-block;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.Ayabe:hover p {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  visibility:visible;
  color: #000;/*文字を白に*/
  display: inline;
}

.Inoue p{
  position: absolute;
  bottom: 0;/*画像の左上に配置*/
  left: 2px;
  margin: 0; /*余計な隙間を除く*/
  color: #fff;
  font-size: 8px;
  line-height: 1;/*行高は1に*/
  display: inline-block;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.Inoue:hover p {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  visibility:visible;
  color: #000;/*文字を白に*/
  display: inline;
}

.Matsumoto  p{
  position: absolute;
  bottom: 0;/*画像の左上に配置*/
  left: 2px;
  margin: 0; /*余計な隙間を除く*/
  color: #fff;
  font-size: 7px;
  line-height: 1;/*行高は1に*/
  display: inline-block;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.Matsumoto:hover p {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  visibility:visible;
  color: #000;/*文字を白に*/
  display: inline;
}

.Ando p{
  position: absolute;
  bottom: 0;/*画像の左上に配置*/
  left: 2px;
  margin: 0; /*余計な隙間を除く*/
  color: #fff;
  font-size: 8px;
  line-height: 1;/*行高は1に*/
  display: inline-block;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.Ando:hover p {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  visibility:visible;
  color: #000;/*文字を白に*/
  display: inline;
}

.Okumura  p{
  position: absolute;
  bottom: 0;/*画像の左上に配置*/
  left: 2px;
  margin: 0; /*余計な隙間を除く*/
  color: #fff;
  font-size: 8px;
  line-height: 1;/*行高は1に*/
  display: inline-block;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.Okumura:hover p {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  visibility:visible;
  color: #000;/*文字を白に*/
  display: inline;
}

.Kadoki  p{
  position: absolute;
  bottom: 0;/*画像の左上に配置*/
  left: 2px;
  margin: 0; /*余計な隙間を除く*/
  color: #fff;
  font-size: 8px;
  line-height: 1;/*行高は1に*/
  display: inline-block;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.Kadoki:hover p {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  visibility:visible;
  color: #000;/*文字を白に*/
  display: inline;
}

.Tsuda p{
  position: absolute;
  bottom: 0;/*画像の左上に配置*/
  left: 2px;
  margin: 0; /*余計な隙間を除く*/
  color: #fff;
  font-size: 8px;
  line-height: 1;/*行高は1に*/
  display: inline-block;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.Tsuda:hover p {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  visibility:visible;
  color: #000;/*文字を白に*/
  display: inline;
}

.Okino  p{
  position: absolute;
  bottom: 0;/*画像の左上に配置*/
  left: 2px;
  margin: 0; /*余計な隙間を除く*/
  color: #fff;
  font-size: 7px;
  line-height: 1;/*行高は1に*/
  display: inline-block;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.Okino:hover p {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  visibility:visible;
  color: #000;/*文字を白に*/
  display: inline;
}

.Kubota p{
  position: absolute;
  bottom: 0;/*画像の左上に配置*/
  left: 2px;
  margin: 0; /*余計な隙間を除く*/
  color: #fff;
  font-size: 8px;
  line-height: 1;/*行高は1に*/
  display: inline-block;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.Kubota:hover p {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  visibility:visible;
  color: #000;/*文字を白に*/
  display: inline;
}

.Iguchi  p{
  position: absolute;
  bottom: 1.5px;/*画像の左上に配置*/
  left: 2px;
  margin: 0; /*余計な隙間を除く*/
  color: #fff;
  font-size: 8px;
  line-height: 1;/*行高は1に*/
  display: inline-block;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.Iguchi:hover p {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  visibility:visible;
  color: #000;/*文字を白に*/
  display: inline;
}

/*2ndYear名前*/
.Kurihara  p{
  position: absolute;
  bottom: 0;/*画像の左上に配置*/
  right: 2px;
  margin: 0; /*余計な隙間を除く*/
  color: #fff;
  font-size: 8px;
  line-height: 1;/*行高は1に*/
  display: inline-block;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.Kurihara:hover p {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  visibility:visible;
  color: #000;/*文字を白に*/
  display: inline;
}

.Takeuchi  p{
  position: absolute;
  bottom: 0;/*画像の左上に配置*/
  right: 2px;
  margin: 0; /*余計な隙間を除く*/
  color: #FFF;
  font-size: 8px;
  line-height: 1;/*行高は1に*/
  display: inline-block;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.Takeuchi:hover p {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  visibility:visible;
  color: #000;/*文字を白に*/
  display: inline;
}


/* modal window */
#baseContents .modal {
  background: #fff;
  border: 2px solid #aaa;
  display: none;
  height: 440px;
  margin: 1.5em auto 0;
  padding: 10px 20px;
  position: fixed;
  width: 900px;
  z-index: 2;
}

#baseContents .modal .profile {
  float: right;
  margin-top: 20px;
  width: 480px;
}

#baseContents .modal .profile tr {
  height: 32px;
}

#baseContents .modal .profile .pr {
  vertical-align: top;
}

#baseContents .modal .profile th {
  font-weight: bold;
  width: 120px;
}

#baseContents .modal .profile td a {
  color: #4A90E2;
}

#baseContents .modal .profile td a:hover {
  text-decoration: underline;
}

#baseContents .modal .profImg {
  margin-top: 20px;
  float: left;
  height: 400px;
}

#baseContents .modal .modalClose {
  clear: both;
  float: right;
  position: fixed;
  width: 50px;
}

#baseContents #modalOverlay {
  background-color:rgba(0,0,0,0.75);
  display:none;
  height:120%;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  z-index:1;
}
