@charset "UTF-8";

/* title */
#baseContents .left {
  float: left;
}

#baseContents .subTitle {
  font-size: 250%;
  font-weight: bold;
  float: left;
  line-height: 130%;
  margin: 30px 20px 0px;
  text-align: center;
  width: 130px;
}

#baseContents .subTitle .topChar {
  color: #3DB6EB;
}

#baseContents .subTitle h2 {
  font-size: 70%;
  font-weight: normal;
}

#baseContents  .yearBox {
	background: #efefef;
	clear: both;
	float: left;
	margin-top: 50px;
	text-align: center;
	width: 185px;
}

#baseContents  .yearBox ul {
	list-style: none;
}

#baseContents  .yearBox ul input {
	display: none;
}


#baseContents  .yearBox ul li {
	background: #ffffff;
	border: medium solid #61c2ee;
	cursor: pointer;
	font: 120% center;
	margin: 15px 25px;
}

#baseContents  .yearBox li .nendo {
	font-size: 75%;
}

#baseContents  .yearBox ul input:checked + li {
	background: url("../img/balloon_CP.svg") no-repeat center;
	border: none;
	color: #ffffff;
	height: 28px;
	padding-top: 6px;
}

/* news list */
#baseContents .listArea {
  float: right;
  margin-bottom: 100px;
  width: 750px;
}

#baseContents .listNews {
  list-style: none;
  margin-top: 40px;
  min-height: 500px;
}

#baseContents .listNews li{
  border-top: 2px #cccccc dotted;
  clear: right;
  display: block;
  padding-left: 20px;
  width: 97%;
}

#baseContents .listNews li a {
  color: #4A90E2;
}

#baseContents .listNews li a:hover {
  text-decoration: underline;
}

#baseContents .listNews li dd {
  margin-top: 10px;
}

#baseContents .listNews li dt {
  float: right;
  margin-top: 40px;
}

#baseContents .listNews li dt::before {
  content: url("../img/alarm.svg");
  margin-right: 10px;
}

/* listPage */
#baseContents .listPage {
  background-color: #3DB6EB;
  clear: both;
  height: 28px;
	line-height: 1em;
  list-style: none;
  margin-top: 100px;
  width: 100%;
}

#baseContents .listPage li {
  cursor: pointer;
  float: left;
  height: 18px;
  margin: 5px;
  text-align: center;
  width: 20px;
}

#baseContents .listPage input {
  display: none;
}

#baseContents .listPage input:checked + li {
  background-color: #ffffff;
}

#baseContents .listPage #next {
	font-size: 70%;
	margin-top: 8px;
	width: 100px;
}
