
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" type="text/css" href="../../img.css" media="all">
<meta charset="utf-8">
<title>576381265.008395</title>
<meta name="description" content="panorama view">
<script src="https://aframe.io/releases/0.4.0/aframe.min.js"></script>
</head>

<body>
<a-scene>
<a-sky src="../pics/576381265.008395.jpg" rotation="0 0 0"></a-sky>
</a-scene>
<div class="aicon_closes"><a href = "../../index.html#H31Muroto_theta"><img src="../../img/return.png" /></a></div>
<div class="aicon_download"><a href="../pics/576381265.008395.jpg" download="../pics/576381265.008395.jpg"><img src="../../img/download.png" /></a></div>
</body>
</html>
