/* --- ヘッダー　--- */
.album_header_aicon{
  width: 250px;
  position: absolute;
  right: 10px;
  top: 20px;
}

.album_header_aicon:hover{
  background-color: #d9d9d9ff;
}

.album_header_aicon a{
  position: relative;
  width: 200px;
  height: 100px;
}

.album_header_aicon a img{
  float: left;
  margin: 0px 5px;
}

ul.year{
  margin: 30px 10px 10px 10px;
  padding: 0;
}

ul.year li{
  display: block;
  padding: 5px;
  margin: 0;
}

li.year2019 a{
  display: block;
  margin: 0px;
  width:200px;
  font-size:24px;
  font-weight:bold;
  text-decoration:none;
  text-align:center;
  padding:10px 20px;
  color:#fff;
  background-color:#FB77A6;
  border-radius: 25px;
  border-bottom: 4px solid #c44572ff;
}

.year2019 a:hover{
  background-color:#c44572ff;
}

ul.year_tab{
  display: none
}

ul.menu1{
  margin: 0 10px;
  padding: 0;
}

ul.menu1 li{
  display: table-cell;
}

ul.menu1 li a{
  margin-right: 10px;
  display: block;
  width:200px;
  font-size:24px;
  font-weight:bold;
  text-decoration:none;
  text-align:center;
  padding:10px 20px;
  color:#fff;
  background-color:#49a9d4;
  border-radius:35px;
  border-bottom: 4px solid #113366;
}

ul.menu1 li a:hover{
  background-color:#113366;
}

ul.aicon{
  padding: 0;
  display: none;
}

ul.aicon li{
  display: table-cell;
  vertical-align:middle;
  margin-top: 5px;
  padding: 5px 0;
}

ul.aicon li a{
  text-align: center;
  width: 30px;/*幅*/
  height: 50px;/*高さ*/
  border-radius: 50%;/*角丸*/
  background: #49a9d4;
  padding: 5px 15px;
}

ul.aicon a img{
  display: block;
  width: 40px;/*幅*/
  height: 30px;/*高さ*/
  margin: 25px 15px;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
}

.album_phote{
    position:relative;
    width:100%;
    height:0;
    padding-top:75%;
}
.album_phote iframe{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:200%;
}
