@charset "UTF-8";

/* main */
#baseContents .main {
  margin: 200px auto 30px;
  position: relative;
  width: 740px;
}

#baseContents .main > h3 {
  clear: both;
  text-align: right;
  padding-right: 10px;
}

#baseContents .main .yearMove {
  margin: 0px auto;
  width: 740px;
}

#baseContents .main .yearMove a {
  font-weight: bold;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  -o-transition: .5s;
  -ms-transition: .5s;
  transition: .5s;
}

#baseContents .main .yearMove a:hover {
  color: #3DB6EB;
}

#baseContents .main .yearMove .left {
  float: left;
}

#baseContents .main .human {
  float: left;
  height: 240px;
  margin-left: 5px;
  margin-top: 5px;
  width: 240px;
}

#baseContents .main .four {
  height: 485px;
  width: 485px;
}

#baseContents .main .two {
  height: 324px;
  width: 485px;
}

#baseContents .main .one {
  height: 240px;
  width: 240px;
}

#baseContents .main .human img {
  background-color: #cccccc;
  position: absolute;
}

#baseContents .main .human .backC {
  background-color: #b5e685;
}

#baseContents .main .human .backP {
  background-color: #71cdf1;
}

#baseContents .main .human .hover {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fefefe;
  height: 150px;
  opacity: 0;
  padding-top: 90px;
  position: absolute;
  text-align: center;
  width: 240px;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  -o-transition: .5s;
  -ms-transition: .5s;
  transition: .5s;
}

#baseContents .main .human .fourH {
  height: 285px;
  padding-top:200px;
  width: 485px;
}

#baseContents .main .human .twoH {
  height: 204px;
  padding-top:120px;
  width: 485px;
}


#baseContents .main .human .hover:hover {
  cursor: pointer;
  opacity: 1;
}

#baseContents .human .hover h1 {
  font-size: 170%;
  font-weight: bold;
}

#baseContents .human .hover h2 {
  font-size: 120%;
}


#baseContents .human .hover h1 span {
  color: #71cdf2;
}

#baseContents .main .designer {
  background-color: #fe9fab;
  color: #ffffff;
  float: right;
  height: 898px;
  margin-right: 5px;
  margin-top: 5px;
  text-align: center;
  width: 240px;
}

#baseContents .main .designer .teamInner {
  margin-top: 350px;
}

#baseContents .main .teamInner p {
  font-size: 210%;
  line-height: 110%;
}

#baseContents .main .teamInner img {
  margin-top: 30px;
}

#baseContents .main .contents {
  background-color: #b5e685;
  color: #ffffff;
  float: left;
  height: 898px;
  margin-left: 5px;
  margin-top: 5px;
  text-align: center;
  width: 240px;
}

#baseContents .main .contents .teamInner {
  margin-top: 350px;
}

#baseContents .main .programmer {
  background-color: #71cdf1;
  color: #ffffff;
  float: right;
  height: 1143px;
  margin-right: 5px;
  margin-top: 5px;
  text-align: center;
  width: 240px;
}

#baseContents .main .programmer .teamInner {
  margin-top: 500px;
}

#baseContents .main .adviser {
  background-color: #cab3fe;
  color: #ffffff;
  float: left;
  height: 240px;
  margin: 5px 0px 40px 5px;
  text-align: center;
  width: 240px;
}

#baseContents .main .adviser .teamInner {
  margin-top: 100px;
}

#baseContents .main .old {
  border: 1px #cccccc solid;
  clear: both;
  margin: 20px 5px 0px;
  padding: 10px;
}

#baseContents .main .old h1 {
  font-size: 150%;
  font-weight: bold;
}

#baseContents .main .old .oldWD {
  color: #fe9fab;
}

#baseContents .main .old .oldLP {
  color: #b5e685;
}

#baseContents .main .old .oldWP {
  color: #71cdf1;
}

/* modal window */
#baseContents .modal {
  background: #fff;
  border: 2px solid #aaa;
  display: none;
  height: 440px;
  margin: 1.5em auto 0;
  padding: 10px 20px;
  position: fixed;
  width: 900px;
  z-index: 2;
}

#baseContents .modal .profile {
  float: right;
  width: 480px;
}

#baseContents .modal .profile tr {
  height: 32px;
}

#baseContents .modal .profile .pr {
  vertical-align: top;
}

#baseContents .modal .profile th {
  font-weight: bold;
  width: 120px;
}

#baseContents .modal .profile td a {
  color: #4A90E2;
}

#baseContents .modal .profile td a:hover {
  text-decoration: underline;
}

#baseContents .modal .profImg {
  margin-top: 20px;
  float: left;
  height: 400px;
}

#baseContents .modal .modalClose {
  clear: both;
  float: right;
  position: fixed;
  width: 50px;
}

#baseContents #modalOverlay {
  background-color:rgba(0,0,0,0.75);
	display:none;
  height:120%;
	position:fixed;
	top:0;
	left:0;
	width:100%;
  z-index:1;
}
