@charset "UTF-8";

#baseContents .content {
	font-size: 120%;
	line-height: 25px;
	margin: 150px auto 0px;
	height: 200px;
	width: 90%;
}

#baseContents .yearBox {
	float: left;
	position: relative;
}

#baseContents li {
	list-style: none;
}

#baseContents .yearBox p {
	position: absolute;
	color: black;
	font-weight: bold;
	top: 15px;
	left: 20px;
}

#baseContents table {
	border: 2px #71cdf2 solid;
	border-collapse: collapse;
	margin-bottom: 50px;
}

#baseContents thead th {
	background-color: #71cdf2;
}

#baseContents .tNumber {
	width: 60px;
	text-align: center;
	border-right: 1px #cccccc solid;
}

#baseContents .tDate {
	width: 140px;
	text-align: center;
	border-right: 1px #cccccc solid;
}

#baseContents .tTitle {
	width: 500px;
	text-align: center;
	border-right: 1px #cccccc solid;
}

#baseContents .tPlace {
	width: 55px;
	text-align: center;
}

#baseContents tbody {
	border: 2px #71cdf2 solid;
}

#baseContents tr.lecTitle {
	border-top: 2px #71cdf2 solid;
}

#baseContents tr.lecturer {
	border-top: 2px #cccccc solid;
}
