@charset "UTF-8";

#baseContents .content {
	font-size: 120%;
	line-height: 25px;
	margin: 150px auto 0px;
	height: 200px;
	width: 90%;
}

#baseContents  .yearBox {
	background: #efefef;
	clear: both;
	float: left;
	margin-top: 50px;
	text-align: center;
	width: 185px;
}

#baseContents  .yearBox ul {
	list-style: none;
}

#baseContents  .yearBox ul input {
	display: none;
}


#baseContents  .yearBox ul li {
	background: #ffffff;
	border: medium solid #61c2ee;
	cursor: pointer;
	font: 120% center;
	margin: 15px 25px;
}

#baseContents  .yearBox li .nendo {
	font-size: 75%;
}

#baseContents  .yearBox ul input:checked + li {
	background: url("../img/balloon_CP.svg") no-repeat center;
	border: none;
	color: #ffffff;
	height: 28px;
	padding-top: 6px;
}

#baseContents table {
	border: 2px #71cdf2 solid;
	border-collapse: collapse;
	margin-bottom: 50px;
}

#baseContents thead th {
	background-color: #71cdf2;
}

#baseContents .tNumber {
	width: 60px;
	text-align: center;
	border-right: 1px #cccccc solid;
}

#baseContents .tDate {
	width: 140px;
	text-align: center;
	border-right: 1px #cccccc solid;
}

#baseContents .tTitle {
	width: 500px;
	text-align: center;
	border-right: 1px #cccccc solid;
}

#baseContents .tPlace {
	width: 55px;
	text-align: center;
}

#baseContents tbody {
	border: 2px #71cdf2 solid;
}

#baseContents tr.lecTitle {
	border-top: 2px #71cdf2 solid;
}

#baseContents tr.lecturer {
	border-top: 2px #cccccc solid;
}
#baseContents .listArea {
    float: right;
    margin-bottom: 100px;
    width: 750px;
  }
  
  #baseContents .listNews {
    list-style: none;
    margin-top: 40px;
    min-height: 500px;
  }
  
  #baseContents .listNews li{
    border-top: 2px #cccccc dotted;
    clear: right;
    display: block;
    padding-left: 20px;
    width: 97%;
  }
  
  #baseContents .listNews li a {
    color: #4A90E2;
  }
  
  #baseContents .listNews li a:hover {
    text-decoration: underline;
  }
  
  #baseContents .listNews li dd {
    margin-top: 10px;
  }
  
  #baseContents .listNews li dt {
    float: right;
    margin-top: 40px;
  }
  
  #baseContents .listNews li dt::before {
    content: url("../img/alarm.svg");
    margin-right: 10px;
  }