@charset "UTF-8";


/*class -> .(class name)*/

body{

}

#baseContents{
  background-image: url("../img/backgroundImage.png") ;
  background-repeat: no-repeat;
  background-size: 70% auto;
  background-attachment: fixed;
  background-position: center;
  background-position-y: 100%;
  font-family:sans-serif;
}


#baseContents p{
  text-align: center;
  font-size: 25px;
  margin: 20px auto;
  line-height: 30px;
}

#baseContents h1{
  text-align: center;
  margin: 50px auto;
  font-size: 60px;
}

#baseContents h2{
  position: relative;
  left: 80px;
  margin: 100px 50px 20px;
  font-size: 40px;
}

td.li{
  border: 1px solid gray;
}

td.li-l{
  border: 1px solid gray;
  border-left: 2px double gray;
}

th.li{
  border: 1px solid gray;
}

.mainImage{
  border: 2px solid #3DB6EB;
  max-width: 100%;
  margin: 10px auto;
}

.oc2017_link {
  position: relative;
  margin: 0px;
  font-size: 40px;
  text-align: center;
}

#baseContents .oc2017_link p{
  font-size: 50px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  left: 100px;
}



.buttons{
  position: relative;
  margin: 10px;
}

.lab_button{
  position: absolute;
  max-width: 20%;
  left: 50px;
}

.lesson_button{
  position: absolute;
  max-width: 20%;
  right: 40%;
}

.map_button{
  position: absolute;
  max-width: 20%;
  right: 50px;
}

.ocContents2018{
  text-align: center;
  max-width: 800px;
  margin: 50px auto;
  background: rgba(255, 255, 255, 0.7);
}

.openLab, .lesson, .openMap{
  text-align: center;
  max-width: 100%;
  height: 2000px;
}

#openLabTable {
  text-align: center;
  max-width: 100%;
  margin: 50px auto;
  background: rgba(255, 255, 255, 0.7);
  border: 3px double orange;
}

.labImage1{
  position: relative;
  width: 60%;
  height: auto;
  border-radius: 50%;
  left: 130px;
}

.labImage2{
  float: left;
  position: relative;
  width: 25%;
  height: auto;
  border-radius: 50%;
  left: 50px;
}

.labImage3{
  position: relative;
  max-width: 37%;
  height: auto;
  border-radius: 50%;
  top: 250px;
}



#lessonTable{
  text-align: center;
  max-width: 100%;
  margin: 50px auto;
  background: rgba(255, 255, 255, 0.7);
  border: double 3px yellow;
}

caption{
  caption-side: top;
  text-align: center;
  margin: 20px auto;
  font-size: 25px;
  color: #333333;
}

.lessonImage1{
  max-width: 80%;
  height: auto;
  position: relative;
  border-radius: 10%;
}


#mapTable{
  text-align: center;
  max-width: 90%;
  margin: 10px auto;
  background: rgba(255, 255, 255, 0.7);
  border: 3px double green;
}

.mapTable1 {
   position: relative;
   text-align: center;
   max-width: 90%;
   margin: 10px auto;
   background: rgba(255, 255, 255, 0.7);
   border: 3px double green;
  }

.mapTitle{
    max-width: 90%;
    margin: 10px auto;
    font-size: 20px;
}


<link rel="stylesheet" href="./css/jquery.fullPage.css">
<link rel="stylesheet" href="./css/lightbox.css">
<link rel="stylesheet" href="./css/screen.css">

.section {
background-image: url(img/bg.jpg);
background-size: cover;
}
.panel {
background-color: rgba(255,255,255,0.8);
height: 400px;
width: 740px;
padding: 40px;
margin: 0 auto;
box-shadow: 0 0 25px rgba(0,0,0,0.1);
}


/*カルーセル*/
