#baseContents a{
    text-decoration: underline;
}

#baseContents h3{
    text-align: center;
    font-size: 170%;
    margin-top: 30px;
    margin-bottom: 15px;
    border-bottom: 2px solid #3db6eb;
    padding-bottom: 25px;
}

#baseContents .button{
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: #3db6eb;
    color: #fff;
    width: 200px;
    margin: auto;
    margin-top: 20px;
    padding: 16px 64px;
    border-radius: 8px;
    border-bottom: solid 4px  #277da1;
}

#baseContents .button:active{
    border-bottom: none;
    transform: translateY(4px);
    -webkit-transform: translateY(4px);
}


#baseContents .title{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 640px;
    font-family: 'Merriweather', serif;
    color: white;
    margin-top: 0;
    position: relative;
    background-image: url(../img/headImg.jpg);
}

#baseContents .titleImg{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    animation: slideShow 20s infinite;
}

#baseContents .titleText{
    position: absolute;
    top: 30%;
    left: 12%;
}

#baseContents .message{
    margin-top: -100px;
}


#baseContents .title h2{
    font-size: 250%;
    margin-top: 50px;
}

#baseContents .eventDate{
    position: absolute;
    top: 90%;
    right: 3%;
    font-size: 200%;
}

#baseContents .mainContents{
    margin-bottom: 50px;
}

#baseContents .messageText{
    line-height: 200%;
    margin-bottom: 30px;
}

#baseContents .arrowText{
    font-size: 150%;
    line-height: 300%;
    text-align: center;
}

#baseContents .triangle{
    width: 0;
    height: 0;
    border-top: solid 15px #277da1;
    border-right: solid 15px transparent;
    border-bottom: solid 15px transparent;
    border-left: solid 15px transparent;
    margin: 0 auto;
}

#baseContents .aboutInfo{
    height: auto;
    overflow: hidden;
    padding-top: 2px;
    box-sizing: border-box;
}

#baseContents .aboutInfo-wrapping{
    margin: 0 5%;
}

#baseContents .aboutInfo-unit{
    box-sizing: border-box;
    float: left;
    padding: 0 5%;
    width: 50%;
    margin-bottom: 30px;
}

#baseContents .aboutInfoText{
    margin-top: 20px;
}

#baseContents .ocButtons{
    overflow: hidden;
    text-align: center;
}

#baseContents .ocButton{
    display: inline-block;
    margin: 0px 50px;
}

@keyframes slideShow {
    0% {
      opacity: 0;
    }
    5% {
      opacity: 1;
    }
    25% {
      opacity: 1;
    }
    30% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
}
