@charset "UTF-8";

/*　mainImage　*/
#baseContents .mainImage {
  width: 960px;
}

/* menu(付箋) */
#baseContents .menu {
  height: 220px;
  margin: 50px auto 0px;
  width: 920px;
}

#baseContents .menu .outLine {
  float: left;
  height: 220px;
  margin-right: 80px;
  width: 170px;
}

#baseContents .menu input {
  display: none;
}

#baseContents .menu .menuList {
  height: 220px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

#baseContents .menu .menuList:hover {
  cursor: pointer;
}

#baseContents .menu .labMenu .menuList {
	background-color: #ff9900;
	border-right: 5px solid #f77700;
}

#baseContents .menu .studyMenu .menuList {
	background-color: #ffea00;
	border-right: 5px solid #ffcc00;
}

#baseContents .menu .mapMenu .menuList {
	background-color: #66ff33;
	border-right: 5px solid #33cc00;
}

#baseContents .menu .menuList img {
  height: 150px;
  width: 150px;
	margin-top: 10px;
}

#baseContents .menu .menuList h1 {
  font-size: 170%;
  margin-top: 10px;
}

#baseContents .labLabel{
	width: 170px;
	height: 90px;
	background-color: #ff9900;
	margin-left: 20px;
	border-right: 5px solid #f77700;
}

#baseContents .studyLabel{
	width: 170px;
	height: 90px;
	background-color: #ffea00;
	margin-left: 270px;
	border-right: 5px solid #ffcc00;
}

#baseContents .mapLabel{
	width: 170px;
	height: 90px;
	background-color: #66ff33;
	margin-left: 520px;
	border-right: 5px solid #33cc00;
}


/* contents */
#baseContents .contents {
  clear: both;
  width: 100%;
}

#baseContents .ocMainContents {
  margin-top: 50px;
}

#baseContents .ocMainContents h1 {
  font-size: 270%;
  margin: auto;
  padding-bottom: 20px;
  text-align: center;
  width: 300px;
}

#baseContents .labContents h1 span {
	padding: 0 10px 15px 10px;
	background: linear-gradient(transparent 60%, #ffbf7f 60%);
}
#baseContents .studyContents h1 span {
	padding: 0 10px 15px 10px;
	background: linear-gradient(transparent 60%, #ffff7f 60%);
}
#baseContents .mapContents h1 span {
	padding: 0 10px 15px 10px;
	background: linear-gradient(transparent 60%, #bfff7f 60%);
}

#baseContents .ocMainContents p {
  font-size: 140%;
  line-height: 150%;
  margin: 50px auto 0px;
  width: 650px;
	text-align: center;
}

#baseContents .ocMainContents p .attention {
	color: #cc3333;
}

/* コンテンツ詳細 */
#baseContents .detail {
	clear: both;
  margin: 70px auto;
  width: 800px;
	position: relative;
}

#baseContents .detail h4 {
	margin: 10px auto;
	font-size: 130%;
	text-align: center;
}

/* detail内のtable */
/*
#baseContents .tableHungerLeft {
	width: 350px;
	height: 3px;
	background: #ddd;
	position: absolute;
	top: -15px;
	left: 55px;
	transform: rotate(-15deg);
	border-radius: 90px;
}

#baseContents .tableHungerRight {
	width: 350px;
	height: 3px;
	background: #ddd;
	position: absolute;
	top: -15px;
	left: 390px;
	transform: rotate(15deg);
	border-radius: 90px;
}
*/

#baseContents .labDetail .table, 
#baseContents .studyDetail .table {
	display: table;
	margin: 0 auto;
	width: 730px;
	border-radius: 30px;
}

#baseContents .labDetail .table .row, 
#baseContents .studyDetail .table .row {
	display: table-row;
	text-align: center;
}

#baseContents .labDetail .table .row>div, 
#baseContents .studyDetail .table .row>div {
	display: table-cell;
}

#baseContents .table .row:nth-child(odd) {
	background-color: #f9f9f9;
}

#baseContents .table .row:nth-child(even) {
	background-color: #fefefe;
}

/* labDetail table */
#baseContents .labDetail .table {
	border: solid #ff8c00;
	border-width: 10px 25px 60px;
}

#baseContents .labDetail .table .th {
	background-color: #ff8c00;
	color: #ffffff;
	font-size: 150%;	
}

#baseContents .labDetail .table .row>div {
	border-bottom: solid 1px #eeeeee;
	padding: 15px 10px;
}

#baseContents .labDetail .table .program {
	font-size: 118%;
}

#baseContents .labDetail .table .time {
}

/* studyDetail table */
#baseContents .studyDetail .table {
	border: solid #ffea00;
	border-width: 10px 25px 60px;
}

#baseContents .studyDetail .table .th {
	background-color: #ffea00;
	color: #000000;
	font-size: 150%;	
}

#baseContents .studyDetail .table .row>div {
	vertical-align: middle;
	padding: 15px 0;
}

#baseContents .studyDetail .table .row .study29th {
	border-right: solid 5px #e3e3e3;
}

#baseContents .studyDetail .table .timeTable {
	width: 80px;
	font-size: 120%;
}

#baseContents .studyDetail .table .start13 {
	background: #dedede;
}

#baseContents .studyDetail .table .start11,
#baseContents .studyDetail .table .start14 {
	background: #d9d9d9;

}
#baseContents .studyDetail .table .studyProgram {
	height: 50px;
	padding-top: 30px;
}

#baseContents .studyDetail .table .studyTeacher {
	height: 50px;
}

#baseContents .studyDetail .table .studyProgram span {
	display: table-cell;
	vertical-align: middle;
	height: 50px;
	width: 330px;
	font-size: 110%;
}

#baseContents .studyDetail .table .studyTeacher span {
	display: table-cell;
	vertical-align: middle;
	height: 50px;
	width: 330px;
}

/* floor map table*/
#baseContents .mapDetail .areaBox {
    text-align: left;
    width: 750px;
    margin: 0 auto;
}

#baseContents .mapDetail .areaBox .leftTable {
	float: left;
	margin: 0 auto;
	width: 422px;
}

#baseContents .mapDetail .areaBox .rightTable {
	float: right;
	margin: 0 auto;
	width: 322px;
}

#baseContents .mapDetail .table {
	width: 100%;
	display: table;
	margin: 0 auto;
	border: solid 2px #cfcfdf;
	border-radius: 20px;
	overflow: hidden;
}

#baseContents .mapDetail .table .row {
	display: table-row;
}

#baseContents .mapDetail .table .row>div {
	display: table-cell;
  cursor: pointer;
	padding: 8px 10px;
	border-bottom: solid 1px #cfcfdf;
	border-collapse: collapse;
}


/* lab, study下の空きスペース */
/* 写真などのテンプレ */
#baseContents .detail .imgBox {
	background: #ffffff;
	border: solid 3px #808080;
	position: absolute;
	text-align: center;
	font-size: 200%;
	/*width,height: (margin+border)*2*/
}

#baseContents .detail .imgBox img {
	border: solid 3px #808080;
}

#baseContents .detail .bigImgBox {
	width: 516px;
	height: 366px;
}

#baseContents .detail .bigImgBoxContainText {
	width: 516px;
	height: 426px;
}

#baseContents .detail .bigImgBoxContainText2 {
	width: 516px;
	height: 476px;
}
#baseContents .detail .bigImgBoxContainText2 p {
	margin: 30px auto;
}

#baseContents .detail .bigImgBoxVertical {
	width: 366px;
	height: 516px;
}



#baseContents .detail .bigImgBox img, 
#baseContents .detail .bigImgBoxContainText img{ 
	width: 450px;
	height: 300px;
	margin: 30px;
}

#baseContents .detail .bigImgBoxContainText2 img {
	width: 450px;
	height: 300px;
	margin: 0 30px;
}

#baseContents .detail .bigImgBoxVertical img {
	width: 300px;
	height: 450px;
	margin: 30px;
}

#baseContents .detail .smallImgBox {
	width: 346px;
	height: 246px;
}

#baseContents .detail .smallImgBox img {
	width: 300px;
	height: 200px;
	margin: 20px;
}

#baseContents .detail .maskingTape {
	width: 120px;
	height: 50px;
	position: absolute;
	z-index: 50;
}

/* labDetailの下部 */
#baseContents .detail .labImgBoxes {
	width: 100%;
	height: 1000px;
	position: relative;
}

#baseContents .detail .labImgBox1 {
	top: 100px;
	left: -20px;
	transform: rotate(-3deg);
}

#baseContents .detail .labImgBox2 {
	top: 300px;
	left: 300px;
	transform: rotate(7deg);
	z-index: 10;
}

#baseContents .detail .labImgBox3 {
	top: 650px;
	left; 0px;
}

#baseContents .detail .labImgBoxes .labMaskingTape1 {
	background: rgba(255, 144, 0, 0.9);
	top: 70px;
	left: 90px;
	transform: rotate(-3deg);
}

#baseContents .detail .labImgBoxes .labMaskingTape2 {
	background: rgba(255, 144, 0, 0.9);
	top: 270px;
	left: 530px;
	transform: rotate(7deg);
}

#baseContents .detail .labImgBoxes .labMaskingTape3 {
	background: rgba(255, 144, 0, 0.9);
	top: 630px;
	left: -40px;
	transform: rotate(-35deg);
}

#baseContents .detail .BIdeskwork {
	position: absolute;
	top: 450px;
	left: 110px;
	width: 200px;
	height: 200px;
}

/* studyDetailの下部 */
#baseContents .detail .studyImgBoxes {
	width: 100%;
	height: 1500px;
	position: relative;
}

#baseContents .detail .studyImgBox1 {
	top: 100px;
	left: -20px;
	z-index: 30;
}

#baseContents .detail .studyImgBox2 {
	top: 500px;
	left: 320px;
	transform: rotate(3deg);
}

#baseContents .detail .studyImgBox3 {
	top: 950px;
	left: 0px;
}

#baseContents .detail .studyImgBox4 {
	top: 950px;
	left: 420px;
	transform: rotate(2deg);
}

#baseContents .detail .studyImgBox5 {
	top: 1220px;
	left: 415px;
}

#baseContents .detail .studyMaskingTape1_1 {
	background: rgba(255, 234, 0, 0.9);
	top: 70px;
	left: -50px;
	transform: rotate(-15deg);
}

#baseContents .detail .studyMaskingTape1_2 {
	background: rgba(255, 234, 0, 0.9);
	top: 70px;
	left: 420px;
	transform: rotate(15deg);
}

#baseContents .detail .studyMaskingTape2 {
	background: rgba(255, 234, 0, 0.9);
	top: 470px;
	left: 530px;
	transform: rotate(3deg);
}

#baseContents .detail .studyMaskingTape3 {
	background: rgba(255, 234, 0, 0.9);
	top: 920px;
	left: 100px;
	transform: rotate(-2deg);
}

#baseContents .detail .studyMaskingTape4 {
	background: rgba(255, 234, 0, 0.9);
	top: 920px;
	left: 530px;
	transform: rotate(2deg);
}

#baseContents .detail .studyMaskingTape5 {
	background: rgba(255, 234, 0, 0.9);
	top: 1185px;
	left: 530px;
	transform: rotate(-4deg);
}


/* floor map */
#baseContents .mapContents .floorLink {
	text-align: center;
}

#baseContents .mapContents .linkContents {
	font-size: 140%;
	display: inline-block;
	margin: 60px 30px 0 30px;
  text-decoration: underline;
}

#baseContents .linkContents img{
  width: 10px;
}

#baseContents .mainContents   {
	text-align: center;
}

#baseContents ul li:hover {
	cursor: pointer;
}

#baseContents .map a path,
#baseContents .map a rect,
#baseContents .map a polygon,
#baseContents .map a use {
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-ms-transition: all 0.6s;
	-o-transition: all 0.6s;
	transition: all 0.6s;
}

#baseContents .map a:hover path,
#baseContents .map a:hover rect,
#baseContents .map a:hover polygon,
#baseContents .map a:hover use {
	fill: #f5a623;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

#baseContents .map a:active path,
#baseContents .map a:active rect,
#baseContents .map a:active polygon,
#baseContents .map a:active use {
	fill: #ee6557;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

#baseContents .mapDetail input {
	display: none;
}

#baseContents .mapDetail input ~ svg a path,
#baseContents .mapDetail input ~ svg a rect,
#baseContents .mapDetail input ~ svg a polygon,
#baseContents .mapDetail input ~ svg a use {
	fill: #16A6B6;
}

/* (map)ホバー時の処理 */
#baseContents .mapDetail #hover105:checked ~ #A-1F .map .mapA105 rect,
#baseContents .mapDetail #hover106:checked ~ #A-1F .map .mapA106 polygon,
#baseContents .mapDetail #hover107:checked ~ #A-1F .map .mapA107 rect,
#baseContents .mapDetail #hover155:checked ~ #A-1F .map .mapA155 polygon,
#baseContents .mapDetail #hover210:checked ~ #A-2F .map .mapA210 rect,
#baseContents .mapDetail #hover303:checked ~ #A-3F .map .mapA303 path,
#baseContents .mapDetail #hover305:checked ~ #A-3F .map .mapA305 rect,
#baseContents .mapDetail #hover306:checked ~ #A-3F .map .mapA306 rect,
#baseContents .mapDetail #hover307:checked ~ #A-3F .map .mapA307 rect,
#baseContents .mapDetail #hover308:checked ~ #A-3F .map .mapA308 rect,
#baseContents .mapDetail #hover309:checked ~ #A-3F .map .mapA309 rect,
#baseContents .mapDetail #hover310:checked ~ #A-3F .map .mapA310 rect,
#baseContents .mapDetail #hover312:checked ~ #A-3F .map .mapA312 path,
#baseContents .mapDetail #hover314:checked ~ #A-3F .map .mapA314 rect,
#baseContents .mapDetail #hover315:checked ~ #A-3F .map .mapA315 rect,
#baseContents .mapDetail #hover355:checked ~ #A-3F .map .mapA355 rect,
#baseContents .mapDetail #hover357:checked ~ #A-3F .map .mapA357 rect,
#baseContents .mapDetail #hover358:checked ~ #A-3F .map .mapA358 rect,
#baseContents .mapDetail #hover359:checked ~ #A-3F .map .mapA359 rect,
#baseContents .mapDetail #hover360:checked ~ #A-3F .map .mapA360 rect
{
	fill: #f5a623;
}

/* (map)クリック時の処理 */
#baseContents .mapDetail #map105:checked ~ #A-1F .map .mapA105 rect,
#baseContents .mapDetail #map106:checked ~ #A-1F .map .mapA106 polygon,
#baseContents .mapDetail #map107:checked ~ #A-1F .map .mapA107 rect,
#baseContents .mapDetail #map155:checked ~ #A-1F .map .mapA155 polygon,
#baseContents .mapDetail #map210:checked ~ #A-2F .map .mapA210 rect,
#baseContents .mapDetail #map303:checked ~ #A-3F .map .mapA303 path,
#baseContents .mapDetail #map305:checked ~ #A-3F .map .mapA305 rect,
#baseContents .mapDetail #map306:checked ~ #A-3F .map .mapA306 rect,
#baseContents .mapDetail #map307:checked ~ #A-3F .map .mapA307 rect,
#baseContents .mapDetail #map308:checked ~ #A-3F .map .mapA308 rect,
#baseContents .mapDetail #map309:checked ~ #A-3F .map .mapA309 rect,
#baseContents .mapDetail #map310:checked ~ #A-3F .map .mapA310 rect,
#baseContents .mapDetail #map312:checked ~ #A-3F .map .mapA312 path,
#baseContents .mapDetail #map314:checked ~ #A-3F .map .mapA314 rect,
#baseContents .mapDetail #map315:checked ~ #A-3F .map .mapA315 rect,
#baseContents .mapDetail #map355:checked ~ #A-3F .map .mapA355 rect,
#baseContents .mapDetail #map357:checked ~ #A-3F .map .mapA357 rect,
#baseContents .mapDetail #map358:checked ~ #A-3F .map .mapA358 rect,
#baseContents .mapDetail #map359:checked ~ #A-3F .map .mapA359 rect,
#baseContents .mapDetail #map360:checked ~ #A-3F .map .mapA360 rect
{
	fill: #FF8787;
}

/* (mapリスト)ホバー時の処理 */
#baseContents .mapDetail #hover105:checked ~ #A-1F .list105,
#baseContents .mapDetail #hover106:checked ~ #A-1F .list106,
#baseContents .mapDetail #hover107:checked ~ #A-1F .list107,
#baseContents .mapDetail #hover155:checked ~ #A-1F .list155,
#baseContents .mapDetail #hover210:checked ~ #A-2F .list210,
#baseContents .mapDetail #hover303:checked ~ #A-3F .list303,
#baseContents .mapDetail #hover305:checked ~ #A-3F .list305,
#baseContents .mapDetail #hover306:checked ~ #A-3F .list306,
#baseContents .mapDetail #hover307:checked ~ #A-3F .list307,
#baseContents .mapDetail #hover308:checked ~ #A-3F .list308,
#baseContents .mapDetail #hover309:checked ~ #A-3F .list309,
#baseContents .mapDetail #hover310:checked ~ #A-3F .list310,
#baseContents .mapDetail #hover312:checked ~ #A-3F .list312,
#baseContents .mapDetail #hover314:checked ~ #A-3F .list314,
#baseContents .mapDetail #hover315:checked ~ #A-3F .list315,
#baseContents .mapDetail #hover355:checked ~ #A-3F .list355,
#baseContents .mapDetail #hover357:checked ~ #A-3F .list357,
#baseContents .mapDetail #hover358:checked ~ #A-3F .list358,
#baseContents .mapDetail #hover359:checked ~ #A-3F .list359,
#baseContents .mapDetail #hover360:checked ~ #A-3F .list360
{
	color: #f5a623;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

/* (mapリスト)クリック時の処理 */
#baseContents .mapDetail #map105:checked ~ #A-1F .list105,
#baseContents .mapDetail #map106:checked ~ #A-1F .list106,
#baseContents .mapDetail #map107:checked ~ #A-1F .list107,
#baseContents .mapDetail #map155:checked ~ #A-1F .list155,
#baseContents .mapDetail #map210:checked ~ #A-2F .list210,
#baseContents .mapDetail #map303:checked ~ #A-3F .list303,
#baseContents .mapDetail #map305:checked ~ #A-3F .list305,
#baseContents .mapDetail #map306:checked ~ #A-3F .list306,
#baseContents .mapDetail #map307:checked ~ #A-3F .list307,
#baseContents .mapDetail #map308:checked ~ #A-3F .list308,
#baseContents .mapDetail #map309:checked ~ #A-3F .list309,
#baseContents .mapDetail #map310:checked ~ #A-3F .list310,
#baseContents .mapDetail #map312:checked ~ #A-3F .list312,
#baseContents .mapDetail #map314:checked ~ #A-3F .list314,
#baseContents .mapDetail #map315:checked ~ #A-3F .list315,
#baseContents .mapDetail #map355:checked ~ #A-3F .list355,
#baseContents .mapDetail #map357:checked ~ #A-3F .list357,
#baseContents .mapDetail #map358:checked ~ #A-3F .list358,
#baseContents .mapDetail #map359:checked ~ #A-3F .list359,
#baseContents .mapDetail #map360:checked ~ #A-3F .list360
{
	color: #FF8787;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

/* floor map roomContents */
#baseContents .roomContents {
	width: 700px;
	height: 200px;
	border: 30px solid #93ff93;
	margin: 0 auto;
	display: none;
	border-radius: 30px;
	text-align: center;
}

#baseContents .roomEventDetail .mapLabPhoto {
	width: 300px;
	height: 200px;
	float: left;
}

#baseContents .roomEventDetail .mapLabPhoto img {
	width: 100%;
	height: 100%;
}


#baseContents .roomEventDetail .mapLabRight {
	width: 400px;
	height: 200px;
	float: right;
}

#baseContents .roomEventDetail .mapLabRight .lab1 span,
#baseContents .roomEventDetail .mapLabRight .lab2 span,
#baseContents .roomEventDetail .mapLabRight .lab3 span {
	width: 400px;
	display: table-cell;
	vertical-align: middle;
}

#baseContents .roomEventDetail .mapLabRight .lab1 span {
	height: 50px;
	font-size: 150%;
}

#baseContents .roomEventDetail .mapLabRight .lab2 span {
	height: 50px;
	font-size: 120%;
}

#baseContents .roomEventDetail .mapLabRight .lab3 span {
	height: 100px;
}
