
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>_DSC0820</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="../../img.css" media="all">
    <meta name="description" content="panorama view">
    <script src="https://aframe.io/releases/0.4.0/aframe.min.js"></script>
</head>
<body>
  <div class="aicon_closes"><a href = "../../index.html#H31Muroto"><img src="../../img/return.png" /></a></div>
  <div class = "img_center">
    <img src="../pics/_DSC0820.jpg">
  </div>
  <div class="aicon_download"><a href="../pics/_DSC0820.jpg" download="../pics/_DSC0820.jpg"><img src="../../img/download.png" /></a></div>

</body>
</html>
